{% if section.settings.message %}
<style>
    {% if section.settings.logo !=blank %}

    .site-header__logo-image {
        max-width: {{section.settings.logo_max_width | escape}}px;
        }
    {% endif %}

    {% if section.settings.align_logo=='left'%}

    .site-header__logo-image {
        margin: 0;
    }

    {% endif %}
</style>
{% endif %}

<style>
    .site-header-background-color-edit{
            background-color: {{section.settings.header_color_bg}};
        }

        .site-header-text-color-edit{
            color: {{section.settings.header_color_text}}
        }
</style>

{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
    {% if section.settings.message %}
    {% if section.settings.home_page_only == false or request.page_type == 'index' %}
    <style>
        .announcement-bar {
            background-color: {{section.settings.color_bg}};
        }

        .announcement-bar__link:hover {
            {% assign brightness=section.settings.color_bg | color_brightness %}
            {% if brightness <=192 %}
            {% assign lightenAmount=255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{section.settings.color_bg | color_lighten: lightenAmount}};
            {% else %}
            {% assign darkenAmount=255 | divided_by: brightness | times: 8 %}

            background-color: {{section.settings.color_bg | color_darken: darkenAmount}};

            {% endif %}
        }

        .announcement-bar__message {
            color: {{section.settings.color_text}};
        }
    </style>

    <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
        {%- unless section.settings.message_link == blank -%}
        <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
            {%- endunless -%}
            <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
            {%- unless section.settings.message_link == blank -%}
        </a>
        {%- endunless -%}
    </div>

    {% endif %}
    {% endif %}

    <header
        class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}"
        role="banner">
        <div class="grid grid--no-gutters grid--table site-header__mobile-nav site-header-background-color-edit site-header-text-color-edit">
            
            
            {% if section.settings.align_logo == 'center' %}
            <div class="grid__item medium-up--one-third site-header__icons text-left">
                <div class="site-header__icons-wrapper flex-beginning-edit">
                    {% unless linklists[section.settings.main_linklist] == blank %}
                    <button type="button" class="site-header-text-color-edit btn--link site-header__icon js-mobile-nav-toggle mobile-nav--open"
                        aria-controls="MobileNav" aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
                        {% include 'icon-hamburger' %}
                        {% include 'icon-close' %}
                    </button>
                    {% endunless %}
                </div>
            </div>
            {% endif %}

            {% if section.settings.align_logo == 'center' %}
            {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
            {% else %}
            {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
            {% endif %}

            <div class="grid__item {{ logo_classes }}">
                {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
                {% endcomment %}
                {% if request.page_type == 'index' %}
                <h1 class="h2 site-header__logo">
                    {% else %}
                    <div class="h2 site-header__logo">
                        {% endif %}
                        {% if section.settings.logo %}
                        {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <a href="{{ routes.root_url }}"
                            class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
                            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                            <img class="lazyload js" src="{{ section.settings.logo | img_url: '300x300' }}"
                                data-src="{{ img_url }}"
                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                data-aspectratio="{{ section.settings.logo.aspect_ratio }}" data-sizes="auto"
                                alt="{{ logo_alt | escape }}"
                                style="max-width: {{ section.settings.logo_max_width }}px">
                            <noscript>
                                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                                <img src="{{ section.settings.logo | img_url: image_size }}"
                                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                                    style="max-width: {{ section.settings.logo_max_width }}px;">
                            </noscript>
                        </a>
                        {% else %}
                        <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                        {% endif %}
                        {% if request.page_type == 'index' %}
                </h1>
                {% else %}
            </div>
            {% endif %}
        </div>

        <div
            class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter medium-up--push-one-half{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
            <div class="site-header__icons-wrapper">

                <button type="button" class="site-header-text-color-edit btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
                    {% include 'icon-search' %}
                    <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
                </button>

                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="{{ routes.account_url }}" class="site-header-text-color-edit site-header__icon site-header__account">
                    {% include 'icon-login' %}
                    <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
                </a>
                {% else %}
                <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
                    {% include 'icon-login' %}
                    <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
                </a>
                {% endif %}
                {% endif %}

                <a href="{{ routes.cart_url }}" class="site-header-text-color-edit site-header__icon site-header__cart">
                    {% include 'icon-cart' %}
                    <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                    <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}"
                        data-cart-count-bubble>
                        <span data-cart-count>{{ cart.item_count }}</span>
                        <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count:
                            cart.item_count }}</span>
                    </div>
                </a>

                {% unless section.settings.align_logo == 'center' %}
                {% unless linklists[section.settings.main_linklist] == blank %}
                <button type="button"
                    class="btn--link site-header__icon site-header-text-color-edit js-mobile-nav-toggle mobile-nav--open"
                    aria-controls="MobileNav" aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
                    {% include 'icon-hamburger' %}
                    {% include 'icon-close' %}
                </button>
                {% endunless %}
                {% endunless %}
            </div>

        </div>
    </div>

        <nav class="mobile-nav-wrapper" role="navigation">
            <ul id="MobileNav" class="mobile-nav">
                {% for link in linklists[section.settings.main_linklist].links %}
                {%- assign outerLoopIndex = forloop.index -%}

                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                    {% if link.links != blank %}
                    {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
                    <button type="button"
                        class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}"
                        data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                        <span class="mobile-nav__label">{{ link.title | escape }}</span>
                        <div class="mobile-nav__icon">
                            {% include 'icon-chevron-right' %}
                        </div>
                    </button>
                    <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                            {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                        </li>
                        <li class="mobile-nav__item border-bottom">
                            <div class="mobile-nav__table">
                                <div class="mobile-nav__table-cell mobile-nav__return">
                                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button"
                                        aria-expanded="true" aria-label="{{ link.title }}">
                                        {% include 'icon-chevron-left' %}
                                    </button>
                                </div>
                                <span
                                    class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                                    <span class="mobile-nav__label">{{ link.title | escape }}</span>
                                </span>
                            </div>
                        </li>

                        {% for childlink in link.links %}
                        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                            {% if childlink.links != blank %}
                            {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index
                            }}{% endcapture %}
                            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link"
                                data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                                <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                                <div class="mobile-nav__icon">
                                    {% include 'icon-chevron-right' %}
                                </div>
                            </button>
                            <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                                <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                                    {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                                </li>
                                <li class="mobile-nav__item border-bottom">
                                    <div class="mobile-nav__table">
                                        <div class="mobile-nav__table-cell mobile-nav__return">
                                            <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn"
                                                data-target="{{ child_list_handle }}" aria-expanded="true"
                                                aria-label="{{ childlink.title }}">
                                                {% include 'icon-chevron-left' %}
                                            </button>
                                        </div>
                                        <a href="{{ childlink.url }}"
                                            class="mobile-nav__sublist-link mobile-nav__sublist-header" {% if childlink.current
                                            %} aria-current="page" {% endif %}>
                                            <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                                        </a>
                                    </div>
                                </li>
                                {% for grandchildlink in childlink.links %}
                                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                                    <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link" {% if
                                        grandchildlink.current %} aria-current="page" {% endif %}>
                                        <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <a href="{{ childlink.url }}" class="mobile-nav__sublist-link" {% if childlink.current %}
                                aria-current="page" {% endif %}>
                                <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ link.url }}" class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}" {%
                        if link.current %} aria-current="page" {% endif %}>
                        <span class="mobile-nav__label">{{ link.title | escape }}</span>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>


    </header>

    {%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%}
    {%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
    {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
    {%- endif -%}
    {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
    {%- style -%}
    .hero-{{ section.id }} {
    height: {{- wrapper_height -}}vw !important;
    }
    {%- endstyle -%}
    {%- endif -%}
    <div data-section-id="{{ section.id }}" data-section-type="hero-section">
        {%- if section.settings.hero_layout == 'fixed_width' -%}
        <div class="page-width hero--header-edit">
            {%- endif -%}
            {%- if section.settings.hero_layout == 'fixed_width' and section.settings.hero_size == 'adapt' -%}
            {%- assign slide_width = 1090 -%}
            {%- assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
            <div class="hero-fixed-width hero--adapt" id="Hero-{{ section.id }}"
                data-layout="{{ section.settings.hero_layout }}">
                {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- if section.settings.image.width < max_width -%} {%- assign slide_width=section.settings.image.width -%}
                    {%- endif -%} <div class="hero-fixed-width__content">
                    <div class="page-width text-center">
                        {%- if section.settings.title != blank -%}
                        <h2
                            class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                            {{ section.settings.title | escape }}</h2>
                        {%- endif -%}
                        {%- if section.settings.text != blank -%}
                        <div
                            class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            {{ section.settings.text }}</div>
                        {%- endif -%}
                        {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                        <a href="{{ section.settings.button_link }}" class="btn hero__btn">
                            {{ section.settings.button_label | escape }}
                        </a>
                        {%- endif -%}
                    </div>
            </div>
            {%- if section.settings.image != blank -%}
            <img class="hero-fixed-width__image lazyload lazypreload"
                src="{{ section.settings.image | img_url: '300x300' }}" data-src="{{ img_url }}"
                data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-sizes="auto" style="{%- if slide_width <= max_width -%}
                        {%- assign min_width = slide_width | times: 100 | divided_by: max_width -%}
                        min-width: {{ min_width }}%;
                        {%- endif -%}
                        object-position: {{ section.settings.alignment }};"
                alt="{{ section.settings.image.alt | escape }}">
            {%- else -%}
            <span>
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </span>
            {%- endif -%}
            <noscript>
                <div class="hero-fixed-width__image" {% if section.settings.image %}{% unless
                    section.settings.image.alt==blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"
                    {% endunless %}
                    style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"
                    {% endif %}></div>
            </noscript>
        </div>
        {%- else -%}
        <div class="hero hero--header-edit hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
            id="Hero-{{ section.id }}" data-layout="{{ section.settings.hero_layout }}" {%- if section.settings.image -%} {%
            unless section.settings.image.alt==blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"
            data-alt="{{ section.settings.image.alt | escape }}" {% endunless %}
            data-bg="{{ section.settings.image | img_url: '300x300' }}"
            data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto" data-parent-fit="cover"
            style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
            {%- endif -%}>
            {%- if section.settings.image == blank -%}
            <div class="placeholder-background">
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            {%- endif -%}
            <div class="hero__inner">
                <div class="page-width text-center">
                    {%- if section.settings.title != blank -%}
                    <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{
                        section.settings.title | escape }}</h2>
                    {%- endif -%}
                    {%- if section.settings.text != blank -%}
                    <div
                        class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                        {{ section.settings.text }}</div>
                    {%- endif -%}
                    {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                    {%- capture ariaLabel -%}
                    {{- section.settings.button_label -}}
                    {%- if section.settings.button_link.type == 'frontpage_link' -%}
                    : {{ 'homepage.general.title' | t -}}
                    {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                    : {{ 'collections.catalog.title' | t -}}
                    {%- elsif section.settings.button_link.object.title -%}
                    : {{ section.settings.button_link.object.title -}}
                    {%- endif -%}
                    {%- endcapture -%}

                    <a href="{{ section.settings.button_link }}" class="btn hero__btn" aria-label="{{ ariaLabel }}">
                        {{- section.settings.button_label | escape -}}
                    </a>
                    {%- endif -%}
                </div>
            </div>
        </div>
        <noscript>
            <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"
                {% if section.settings.image %}{% unless section.settings.image.alt==blank %} role="img"
                aria-label="{{ section.settings.image.alt | escape }}" {% endunless %}
                style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"
                {% endif %}></div>
        </noscript>
        {%- endif -%}
        {%- if section.settings.hero_layout == 'fixed_width' -%}
    </div>
    {%- endif -%}
</div>
<!-- {% if section.settings.align_logo == 'center' %}
<nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
</nav>
{% endif %} -->
</div>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "color",
      "id": "header_color_text",
      "label": {
        "en": "Header Text"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "header_color_bg",
      "label": {
        "en": "Background"
      },
      "default": "rgba(255, 0, 0, 0.0)"
    },
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "da": "Logojustering",
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "es": "Alineación de logo",
        "fi": "Logon tasaus",
        "fr": "Alignement du logo",
        "hi": "लोगो संरेखण",
        "it": "Allineamento logo",
        "ja": "ロゴアラインメント",
        "ko": "로고 정렬",
        "nb": "Logojustering",
        "nl": "Logo-uitlijning",
        "pt-BR": "Alinhamento do logotipo",
        "pt-PT": "Alinhamento do logótipo",
        "sv": "Logojustering",
        "th": "การจัดวางโลโก้",
        "zh-CN": "logo 对齐方式",
        "zh-TW": "商標對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "hi": "बाएँ",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "center",
          "label": {
            "da": "Centreret",
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fi": "Keskitetty",
            "fr": "Centré",
            "hi": "केंद्र",
            "it": "Centrato",
            "ja": "中央揃え",
            "ko": "센터 맞추기",
            "nb": "Sentrert",
            "nl": "Gecentreerd",
            "pt-BR": "Centralizado",
            "pt-PT": "Centrado",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "zh-CN": "居中",
            "zh-TW": "置中"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "hi": "लोगो इमेज",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "hi": "कस्टम लोगो की चौड़ाई",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pt-BR": "Largura do logotipo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "hi": "घोषणा बार",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pt-BR": "Barra de avisos",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "hi": "घोषणा दिखाएं",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain etusivu",
        "fr": "Page d'accueil uniquement",
        "hi": "केवल होमपेज",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "nb": "Kun på startsiden",
        "nl": "Alleen homepage",
        "pt-BR": "Apenas na página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fi": "Ilmoita jotakin tässä",
        "fr": "Annoncez quelque chose ici",
        "hi": "यहां कुछ घोषित करें",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "ko": "여기에 공지하십시오",
        "nb": "Kunngjør noe her",
        "nl": "Kondig hier iets aan",
        "pt-BR": "Anuncie algo aqui",
        "pt-PT": "Anunciar algo aqui",
        "sv": "Meddela något här",
        "th": "ประกาศข้อความที่นี่",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "hi": "लिंक",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "hi": "वैकल्पिक",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "hi": "बार",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "nb": "Felt",
        "nl": "Balk",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    },
    {
    "type": "header",
    "content": {
    "en": "Featured Image"
    }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fi": "Kuvan tasaus",
        "fr": "Alignement de l'image",
        "hi": "इमेज पंक्तिबद्ध करना",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "ko": "이미지 정렬",
        "nb": "Bildejustering",
        "nl": "Afbeelding uitlijnen",
        "pt-BR": "Alinhamento da imagem",
        "pt-PT": "Alinhamento da imagem",
        "sv": "Bildjustering",
        "th": "การจัดวางรูปภาพ",
        "zh-CN": "图片对齐方式",
        "zh-TW": "圖片對齊"
      },
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": {
            "da": "Top",
            "de": "Oben",
            "en": "Top",
            "es": "Superior",
            "fi": "Ylös",
            "fr": "Haut",
            "hi": "सबसे ऊपर",
            "it": "In alto",
            "ja": "上",
            "ko": "위쪽",
            "nb": "Topp",
            "nl": "Boven",
            "pt-BR": "Acima",
            "pt-PT": "Acima",
            "sv": "Högst upp",
            "th": "ด้านบน",
            "zh-CN": "顶部",
            "zh-TW": "頂部"
          }
        },
        {
          "value": "center",
          "label": {
            "da": "I midten",
            "de": "Mitte",
            "en": "Middle",
            "es": "Centrada",
            "fi": "Keskelle",
            "fr": "Milieu",
            "hi": "मध्य में",
            "it": "Al centro",
            "ja": "中央",
            "ko": "중간",
            "nb": "Midten",
            "nl": "Midden",
            "pt-BR": "Meio",
            "pt-PT": "Meio",
            "sv": "Mitten",
            "th": "ตรงกลาง",
            "zh-CN": "中间",
            "zh-TW": "中央"
          }
        },
        {
          "value": "bottom",
          "label": {
            "da": "Bund",
            "de": "Unten",
            "en": "Bottom",
            "es": "Inferior",
            "fi": "Alas",
            "fr": "Bas",
            "hi": "नीचे का",
            "it": "In basso",
            "ja": "下",
            "ko": "아래쪽",
            "nb": "Bunn",
            "nl": "Onder",
            "pt-BR": "Abaixo",
            "pt-PT": "Abaixo",
            "sv": "Längst ner",
            "th": "ด้านล่าง",
            "zh-CN": "底部",
            "zh-TW": "底部"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "full_width",
      "options": [
        {
          "label": {
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "hi": "पूर्ण चौड़ाई",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
          },
          "value": "full_width"
        },
        {
          "label": {
            "da": "Fast bredde",
            "de": "Feste Breite",
            "en": "Fixed width",
            "es": "Ancho fijo",
            "fi": "Kiinteä leveys",
            "fr": "Largeur fixe",
            "hi": "निश्चित चौड़ाई",
            "it": "Larghezza fissa",
            "ja": "固定幅",
            "ko": "고정 폭",
            "nb": "Fast bredde",
            "nl": "Vaste breedte",
            "pt-BR": "Largura fixa",
            "pt-PT": "Largura fixa",
            "sv": "Fast bredd",
            "th": "ความกว้างตายตัว",
            "zh-CN": "固定宽度",
            "zh-TW": "固定寬度"
          },
          "value": "fixed_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": {
        "da": "Højde på afsnit",
        "de": "Bereichs-Höhe",
        "en": "Section height",
        "es": "Altura de la sección",
        "fi": "Osan korkeus",
        "fr": "Hauteur de la section",
        "hi": "सेक्शन की ऊंचाई",
        "it": "Altezza sezione",
        "ja": "セクションの高さ",
        "ko": "섹션 높이",
        "nb": "Høyde på del",
        "nl": "Sectiehoogte",
        "pt-BR": "Altura da seção",
        "pt-PT": "Altura da secção",
        "sv": "Sektionshöjd",
        "th": "ความสูงของส่วน",
        "zh-CN": "分区高度",
        "zh-TW": "區塊高度"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Full Height"
          },
          "value": "fullHeight"
        },
        {
          "label": {
            "da": "Tilpas til billede",
            "de": "An Bild anpassen",
            "en": "Adapt to image",
            "es": "Adaptar a la imagen",
            "fi": "Sovita kuvaan",
            "fr": "S'adapter à l'image",
            "hi": "इमेज के अनुकूल बनाएं",
            "it": "Adatta all'immagine",
            "ja": "画像に対応",
            "ko": "이미지에 맞춤",
            "nb": "Tilpass til bilde",
            "nl": "Aanpassen aan afbeelding",
            "pt-BR": "Adaptar à imagem",
            "pt-PT": "Adaptar à imagem",
            "sv": "Anpassa till bild",
            "th": "ปรับตามรูปภาพ",
            "zh-CN": "适应图片",
            "zh-TW": "配合圖片"
          },
          "value": "adapt"
        },
        {
          "label": {
            "da": "Ekstra lille",
            "de": "Extra klein",
            "en": "Extra Small",
            "es": "Extra pequeña",
            "fi": "Erikoispieni",
            "fr": "Très petite",
            "hi": "अतिरिक्त छोटा",
            "it": "Molto piccola",
            "ja": "極小",
            "ko": "특소",
            "nb": "Ekstra liten",
            "nl": "Extra klein",
            "pt-BR": "Extra pequeno",
            "pt-PT": "Extra pequeno",
            "sv": "Extra liten",
            "th": "ขนาดเล็กพิเศษ",
            "zh-CN": "特小",
            "zh-TW": "超小型"
          },
          "value": "x-small"
        },
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        },
        {
          "label": {
            "da": "Ekstra stor",
            "de": "Extra groß",
            "en": "Extra Large",
            "es": "Extra grande",
            "fi": "Erikoissuuri",
            "fr": "Très grande",
            "hi": "अतिरिक्त बड़ा",
            "it": "Molto grande",
            "ja": "特大",
            "ko": "특대",
            "nb": "Ekstra stort",
            "nl": "Extra groot",
            "pt-BR": "Extra grande",
            "pt-PT": "Extra grande",
            "sv": "Extra stor",
            "th": "ขนาดใหญ่พิเศษ",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          },
          "value": "x-large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Image with text overlay",
        "es": "magen con texto superpuesto",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec calque texte",
        "hi": "पाठ ओवरले के साथ इमेज",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加層的圖片"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
        "es": "<p>Usa el texto superpuesto para darles información útil a tus clientes sobre tu marca. Selecciona imágenes y textos que se relacionen con tu estilo e historia.</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om je klanten inzicht te geven in je merk. Selecteer afbeeldingen en tekst die betrekking hebben op je stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加層讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Etikett",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    }
  ]
}
{% endschema %}